<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZqY_OCMNHriRWpo2NTzFi0ihD3N5kIuc</string>
	<key>GCM_SENDER_ID</key>
	<string>807162605566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hydrolinkTesting</string>
	<key>PROJECT_ID</key>
	<string>hydrolink-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>hydrolink-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807162605566:ios:02380ba2f6b4f3f9445aaf</string>
</dict>
</plist>